global
    maxconn 20000
    nbthread 1

defaults
    mode tcp
    no log
    timeout connect 50ms
    timeout client 2s
    timeout server 2s

frontend main
    bind *:9999 backlog 4096
    default_backend api

backend api
    balance roundrobin
    server api1 unix@/run/sock/api1.sock
    server api2 unix@/run/sock/api2.sock
